
/* ...other styles... */

@media screen and (max-width: 768px) {
  .mobile-menu-icon {
    display: flex;
  }
  
  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #333;
    top: 60px; /* Adjust this value as needed */
    left: 0;
    opacity: 0.95;
    z-index: 1;
    transition: 0.3s;
  }
  
  .mobile-menu-active .nav-list {
    display: flex;
  }
}


.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.nav-item:hover .dropdown {
  display: block;
}
