body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.promo-section {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  line-height: 20px;
  background-color:bisque;
  border: 1px solid;
  padding: 10px;
  margin: 5px 25px 5px 25px;
  line-height: normal;
}

.App{
  background-color:azure;
  padding: 1%;
}

.App button:hover{
  color: green;
  transform: scale(1.3rem);
  transition: 1s;
  border: solid red 1px;
}